.category-btn {
  text-decoration: none;
  color: black;
  background-color: white;
  border: none;
  text-align: left;
  padding: 0;
}

.category-btn:not(:first-child) {
  margin-top: 5px;
}

.category-btn:hover, a:hover {
  color: #7d9d9c;
}

.pagination {
  --bs-pagination-hover-color:#576f72;
  --bs-pagination-focus-color:#576f72;
  --bs-pagination-color:#576f72;
  --bs-pagination-active-bg:#576f72;
  --bs-pagination-active-border-color:#576f72;
}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: white;
}

.accordion-button:focus {
  box-shadow: none;
  background-color: #e4dccf;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

.add-to-cart:focus,
.add-to-cart:hover {
  background-color: #576f72;
}

.add-to-cart {
  background-color: #7d9d9c;
  color: white;
}

.product-title {
  text-decoration: none;
  color: #000000;
}

#categories {
  border: #576f72 solid 1px;
  border-radius: 5px;
}

.wishlist {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
}

.disappearing-alert {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.carousel-indicators {
  margin-bottom: 0;
}
.img-card{
  width: 82%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

@media (min-height: 480px) and (orientation: portrait) {
  .product-name{
    font-size: medium;
  }
  .card-img-top {
    height: 29vh;
  }
  .wishlist {
    width: 8vw;
    height: 5vh;
  }
}

@media (min-height: 568px) and (orientation: portrait){
  .card-img-top {
    height: 25vh;
  }
}

@media (min-height: 667px) and (orientation: portrait){
  .card-img-top {
    height: 25vh;
  }
  .product-name{
    font-size: large;
  }
}

@media (min-height: 736px) and (orientation: portrait){
  .card-img-top {
    height: 22vh;
  }
}

@media (min-height: 812px) and (orientation: portrait){
  .card-img-top {
    height: 21vh;
  }
  .wishlist {
    width: 9vw;
    height: 4vh;
  }
  .product-name{
    font-size: larger;
  }
}

@media (min-height: 1024px) and (orientation: portrait){
  .card-img-top {
    height: 22vh;
  }
  .wishlist {
    width: 5vw;
    height: 4vh;
  }
}

@media (min-height: 1200px) and (orientation: portrait){
  .card-img-top {
    height: 18vh;
  }
  .wishlist {
    width: 6vw;
  }
}

@media (min-height: 1300px) and (orientation: portrait){
  .card-img-top {
    height: 17vh;
  }
  .wishlist {
    width: 4vw;
    height: 3vh;
  }
}

@media (max-width: 576px) and (orientation: landscape){
  .product-name{
    font-size: medium;
  }
  .wishlist {
    width: 7vw;
    height: 12vh;
  }
}

@media (min-width: 576px) and (orientation: landscape){
  .wishlist {
    width: 7vw;
    height: 13vh;
  }
  .card-title {
    height: 33%;
  }
}

@media (min-width: 768px) and (orientation: landscape){
  .wishlist {
    width: 5vw;
    height: 10vh;
  }
}

@media (min-width: 992px) and (orientation: landscape){
  .wishlist {
    width: 4vw;
    height: 6vh;
  }
  .card-title {
    height: 44%;
  }
}

@media (min-width: 1200px) and (orientation: landscape){
  .wishlist {
    width: 3.5vw;
    height: 7vh;
  }

  .card-title {
    height: 40%;
  }
}