.alert {
  margin: auto;
  background-color: #e4dccf;
  border-color: white;
}

.alert-heading {
  text-align: center;
  margin: 0;
}

#submit {
  background-color: #576f72;
  border-color: #576f72;
}

.link-in-login {
  color: #41464b;
}