body {
  background-color: #f0ebe3;
}

footer {
  position: relative;
  color: #576f72;
  bottom: 0;
}

/* #logo {
  max-width: 15%;
} */

#navbar {
  background-color: #576f72;
}

#button-search:hover,
#button-search:focus {
  background-color: #7d9d9c;
  color: white;
}

#button-search {
  border-color: #576f72;
  color: #576f72;
}

@media (max-width: 576px) {
  header {
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  #search {
    width: 100%;
  }
  #logo {
    margin: auto;
    width: 50%;
  }
}

@media (min-width: 576px) {
  #search {
    width: 50%;
  }
  #logo {
    width: 30%;
  }
}

@media (min-width: 768px) {
  #search {
    width: 45%;
  }
  #logo {
    width: 23%;
  }
}

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75% !important;
  }
  #search {
    width: 40%;
  }
  #logo {
    width: 18%;
  }
}

@media (min-width: 1200px) {
  #search {
    width: 30%;
  }
  #logo {
    width: 15%;
  }
}
