body {
  background-color: #f0ebe3;
}

footer {
  position: relative;
  color: #576f72;
  bottom: 0;
}

#logo {
  max-width: 15%;
}

#navbar,
#add-to-cart:focus,
#add-to-cart:hover {
  background-color: #576f72;
}

#button-search:hover,
#button-search:focus,
#add-to-cart {
  background-color: #7d9d9c;
  color: white;
}

#button-search {
  border-color: #576f72;
  color: #576f72;
}
